<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <nav class="w-full flex justify-between px-5 py-3">
        <a class="text-xl text-blue-700 font-semibold" href="/shop">Ecart</a>
        <div class="flex justify-between gap-4">
            <a href="/shop">Shop</a>
            <a href="/cart">Cart</a>
            <a href="">my Account</a>
            <a class="text-red-500" href="/users/logout">Logout</a>
        </div>
    </nav>
</body>
</html>